/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
  margin: 0;
  font-family:  'Karantina', cursive;
  direction: rtl;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.5)
    ),
    url(https://cdn.jsdelivr.net/gh/tzira/angular-ivy-4sszec@image/src/assets/images/janko-ferlic-sfL_QOnmy00-unsplash.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100vh;
  width: 100vh;
}
